<div class="container">
  <div class="row rowContainer">
    <div class="col-sm-3 col-md-3 col-lg-3 colContainer" (click)="goTo('armocromia')">
      <img src="../../../../../assets/images/mainSections/armocromia.jpg" alt="{{'MAIN_SECTIONS_ARMOCROMIA' | translate}}" class="imageItem">
      <div class="caption">
        <h3 class="armocromiaTitle">{{"MAIN_SECTIONS_ARMOCROMIA" | translate}}</h3>
      </div>
    </div>
    <div class="col-sm-3 col-md-3 col-lg-3 colContainer" (click)="goTo('wedding')">
      <img src="../../../../../assets/images/mainSections/wedding.jpg" alt="{{'MAIN_SECTIONS_WEDDING' | translate}}" class="imageItem">
      <div class="caption">
        <h3>{{"MAIN_SECTIONS_WEDDING" | translate}}</h3>
      </div>
    </div>
    <div class="col-sm-3 col-md-3 col-lg-3 colContainer" (click)="goTo('makeUpInPalette')">
      <img src="../../../../../assets/images/mainSections/test.jpg" alt="{{'MAIN_SECTIONS_MAKE_UP' | translate}}" class="imageItem">
      <div class="caption">
        <h3>{{"MAIN_SECTIONS_MAKE_UP" | translate}}</h3>
      </div>
    </div>
    <div class="col-sm-3 col-md-3 col-lg-3 colContainer" (click)="goTo('articoli')">
      <img src="../../../../../assets/images/mainSections/articoli.jpg" alt="{{'MAIN_SECTIONS_ARTICOLI' | translate}}" class="imageItem">
      <div class="caption">
        <h3>{{"MAIN_SECTIONS_ARTICOLI" | translate}}</h3>
      </div>
    </div>
  </div>
</div>
