.imageItem {
  max-width: 95%;
}

.rowContainer {
  text-align: center;
}

.caption {
  background-color: black;
  margin-top: -20%;
  opacity: 0.5;
  margin-right: 3%;
  margin-left: 3%;

  h3 {
    color: white;
    font-family: 'Century Gothic', sans-serif;
  }

  h3:hover {
    opacity: 2;
  }
}

.colContainer:hover {
  cursor: pointer;
}



/** MEDIA QUERY **/
/* Extra small devices (phones, 600px and down) */

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (max-width: 500px) {
  .colContainer {
    margin-bottom: 15%;
  }
  .imageItem {
    max-width: 65%;
  }
  .caption {
    margin-right: 18%;
    margin-left: 18%;
  }
}

@media only screen and (max-width: 768px) {
  .caption {
    margin-top: -20% !important;
    font-size: larger;
  }
  .armocromiaTitle {
    color: white;
    font-family: 'Century Gothic', sans-serif;
  }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (max-width: 1024px) {
  .caption {
    margin-top: -20%;
  }

}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
  .caption {
    margin-top: -15%;
  }
}

/** END MEDIA QUERY */
