<div class="container sectionContainer">
  <div class="row justify-content-center">
    <div class="text-start wow fadeIn">
      <h2 class="h1 mb-0 text-primary">{{"WORKS_SECTION" | translate}}</h2>
    </div>
    <app-divider></app-divider>

    <p class="">{{"WORKS_SECTION_SUBTITLE" | translate}}</p>

    <div class="row">
      <div class="col-sm-4">
        <div class="card">
          <div class="card-body">
            <h3 class="card-title">{{"WORKS_ARMOCROMIA_LABEL" | translate}}</h3>
            <app-divider></app-divider>
            <p class="card-text">{{"WORKS_ARMOCROMIA_LABEL_SUBTITLE" | translate}}</p>
            <div class="blogItemContent">
              <a class="btn forwardButton" (click)="goTo('armocromia')">{{"WORKS_GO_TO" | translate}}</a>
            </div>
          </div>
        </div>
      </div>
      <div class="col-sm-4">
        <div class="card">
          <div class="card-body">
            <h3 class="card-title">{{"WORKS_WEDDING_LABEL" | translate}}</h3>
            <app-divider></app-divider>
            <p class="card-text">{{"WORKS_WEDDING_LABEL_SUBTITLE" | translate}}</p>
            <div class="blogItemContent">
              <a class="btn forwardButton" (click)="goTo('wedding')">{{"WORKS_GO_TO" | translate}}</a>
            </div>
          </div>
        </div>
      </div>
      <div class="col-sm-4">
        <div class="card">
          <div class="card-body">
            <h3 class="card-title">{{"WORKS_CHANGE_LOOK_LABEL" | translate}}</h3>
            <app-divider></app-divider>
            <p class="card-text">{{"WORKS_CHANGE_LOOK_LABEL_SUBTITLE" | translate}}</p>
            <div class="blogItemContent">
              <a class="btn forwardButton" (click)="goTo('cambioLook')">{{"WORKS_GO_TO" | translate}}</a>
            </div>
          </div>
        </div>
      </div>
      <div class="col-sm-4">
        <div class="card">
          <div class="card-body">
            <h3 class="card-title">{{"WORKS_FACIAL_SHAPES_LABEL" | translate}}</h3>
            <app-divider></app-divider>
            <p class="card-text">{{"WORKS_FACIAL_SHAPES_LABEL_SUBTITLE" | translate}}</p>
            <div class="blogItemContent">
              <a class="btn forwardButton" (click)="goTo('formeViso')">{{"WORKS_GO_TO" | translate}}</a>
            </div>
          </div>
        </div>
      </div>
      <div class="col-sm-4">
        <div class="card">
          <div class="card-body">
            <h3 class="card-title">{{"WORKS_BODY_SHAPES_LABEL" | translate}}</h3>
            <app-divider></app-divider>
            <p class="card-text">{{"WORKS_BODY_SHAPES_LABEL_SUBTITLE" | translate}}</p>
            <div class="blogItemContent">
              <a class="btn forwardButton" (click)="goTo('formeCorpo')">{{"WORKS_GO_TO" | translate}}</a>
            </div>
          </div>
        </div>
      </div>
    </div>


  </div>
</div>
