<div class="container sectionContainer">
  <div class="row justify-content-center">
    <div class="text-start wow fadeIn">
      <h2 class="h1 mb-0 text-primary">{{"BLOG_SECTION" | translate}}</h2>
    </div>
    <app-divider></app-divider>

    <p class="">{{"MEDIA_SECTION_SUBTITLE" | translate}}</p>

    <div class="row">
      <div class="col-sm-4">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">FOTO</h5>
            <app-divider></app-divider>
            <p class="card-text">With supporting text below as a natural lead-in to additional content. With supporting text below as a natural lead-in to additional content.</p>
            <div class="blogItemContent">
              <a class="btn forwardButton">Vai a Foto</a>
            </div>
          </div>
        </div>
      </div>
      <div class="col-sm-4">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">VIDEO</h5>
            <app-divider></app-divider>
            <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
            <div class="blogItemContent">
              <a class="btn forwardButton">Vai a Video</a>
            </div>
          </div>
        </div>
      </div>
      <div class="col-sm-4">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">ARTICOLI</h5>
            <app-divider></app-divider>
            <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
            <div class="blogItemContent">
              <a class="btn forwardButton">Vai a Articoli</a>
            </div>
          </div>
        </div>
      </div>
    </div>


  </div>
</div>
