<div class="">

  <div class="bg-dark rounded-3 imageContainer">
    <div class="opacityDiv">
      <h1>Qualifiche</h1>
      <p class="lead">In today's world internet is the most popular way of connecting with the people. At tutorialrepublic.com you will learn the essential of web development technologies along with real life practice example, so that you can create your own website to connect with the people around the world.</p>
      <p><a class="btn btn-light btn-lg buttonDiv">Scopri</a></p>
    </div>
  </div>

</div>
