.imageContainer {
  background-image: url("~src/assets/images/qualifications/qualifiche.jpg");
  background-size: cover;
  text-align: center;
  margin: 2%;
}

.opacityDiv {
  opacity: 0.5;
  background-color: black;
  padding: 5%
}

.lead {
  color: whitesmoke;
}

.buttonDiv {
  background-color: whitesmoke;
  color: black;
}

h1 {
  color: whitesmoke;
  font-family: 'Cinzel',serif;
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (max-width: 500px) {
  .imageContainer {
    background-image: url("~src/assets/images/qualifications/qualificheSmall.jpg");
    background-size: cover;
    text-align: center;
  }

  .opacityDiv {
    opacity: 0.5;
    background-color: black;
    padding: 1%;
  }

  .buttonDiv {
    margin-bottom: 2%;
  }
}

@media only screen and (min-width: 1200px) {
  .imageContainer {
    height: 500px;
    padding-top: 10% !important;
  }
  .opacityDiv {
    padding: 1%;
  }
}
