.mainCardContainer {
  border: none;
}

h1 {
  font-family: 'Cinzel',serif;
  margin-bottom: 2%;
}

h5 {
  font-family: "Century Gothic", sans-serif;
  font-weight: bold;
}

p {
  font-family: Roboto, "Helvetica Neue", sans-serif;  color: #111;
  font-size: 1.25rem;
  font-weight: 300;
}

.imageDiv {
  max-height: 50%;
}

.footerDiv {
  background-color: #81549b;
}

.indicatorsDiv {
}

.imagesSection {
  margin-bottom: 1%;
  max-width: 80%;
  text-align: center;
  margin-left: 10%;
}

.articlesDiv {
  margin-top: 5%;
}

.articleItem {
  box-shadow: inset 0 3em 3em #81549b, 0 0 0 2px white, 0.1em 0.1em 0.5em #81549b;
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (max-width: 500px) {
  .imagesSection {
    margin-bottom: 2%;
    margin-left: 0;
    max-width: 100%;
  }
}

@media only screen and (max-width: 768px) {
  .card-text {
    font-size: medium;
  }
}
