.mainCardContainer {
  border: none;
}

h1 {
  font-family: 'Cinzel',serif;
  margin-bottom: 2%;
}

h5 {
  font-family: "Century Gothic", sans-serif;
  font-weight: bold;
}

p {
  font-family: Roboto, "Helvetica Neue", sans-serif;  color: #111;
  font-size: 1.25rem;
  font-weight: 300;
}

.imageDiv {
  max-height: 50%;
}

.footerDiv {
  background-color: #81549b;
}

.indicatorsDiv {
}

.imagesSection {
  margin-bottom: 5%;
}

.articlesDiv {
  margin-top: 5%;
}
