<div class="container sectionContainer">
  <div class="row justify-content-center">
    <div class="text-start wow fadeIn">
      <h2 class="h1 mb-0 text-primary">{{"BLOG_ARTICLES_SECTION" | translate}}</h2>
    </div>
    <app-divider></app-divider>

    <nav aria-label="breadcrumb">
      <ol class="breadcrumb">
        <li class="breadcrumb-item breadcumbBlog" (click)="goToBlog()"><a>{{"BLOG_NAV_LABEL" | translate}}</a></li>
        <li class="breadcrumb-item active breadcrumbSecondary" aria-current="page">{{"BLOG_ARTICLE_NAV_LABEL" | translate}}</li>
      </ol>
    </nav>

    <p class="mt-4">{{"BLOG_ARTICLES_SECTION_SUBTITLE" | translate}}</p>

    <!-- LISTA ARTICOLI -->
    <div class="container" *ngIf="articlesList.length > 0">
      <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3">
        <div class="col mt-3" *ngFor="let article of articlesList">
          <h3 class="h3 mb-0 text-primary">{{article.titolo}}</h3>
          <app-divider></app-divider>
          <div class="articleItem">
            <div *ngIf="article.imagePathFromStorage | async; let imageUrl">
              <img [src]="imageUrl" class="img-fluid" alt="image">
            </div>
            <p>{{article.descrizione}}</p>
            <div class="footerDiv btn forwardButton">
              <a>{{"BLOG_ARTICLES_GO_TO_ARTICLE_DETAIL" | translate}}</a>
            </div>
          </div>
        </div>
      </div>
    </div>

  </div>
</div>
