.breadcrumbDiv {
  background: linear-gradient(to right bottom, #9e9e9e38 50%, #e0e0e0 50%);
}

.breadcumbBlog {
  color: #81549b;
  font-weight: 500;
}

.breadcrumbSecondary {
  font-weight: bold;
  color: #81549b;
}

.breadcumbBlog:hover {
  color: black;
  cursor: pointer;
}

.footerDiv {
  background-color: #81549b;
}

.articleItem {
  box-shadow: inset 0 3em 3em #81549b, 0 0 0 2px white, 0.1em 0.1em 0.5em #81549b;
  text-align: center;
}
