<div class="container sectionContainer">
  <div class="row justify-content-center">
    <div class="text-start wow fadeIn">
      <h2 class="h1 mb-0 text-primary">{{"BLOG_VIDEOS_SECTION" | translate}}</h2>
    </div>
    <app-divider></app-divider>

    <nav aria-label="breadcrumb">
      <ol class="breadcrumb">
        <li class="breadcrumb-item breadcumbBlog" (click)="goToBlog()"><a>{{"BLOG_NAV_LABEL" | translate}}</a></li>
        <li class="breadcrumb-item active breadcrumbSecondary" aria-current="page">{{"BLOG_VIDEOS_NAV_LABEL" | translate}}</li>
      </ol>
    </nav>

  </div>
</div>
