<div class="container sectionContainer">
  <div class="row justify-content-center">
    <div class="text-start wow fadeIn">
      <h2 class="h1 mb-0 text-primary">{{"BLOG_VIDEOS_SECTION" | translate}}</h2>
    </div>
    <app-divider></app-divider>

    <nav aria-label="breadcrumb">
      <ol class="breadcrumb">
        <li class="breadcrumb-item breadcumbBlog" (click)="goToBlog()"><a>{{"BLOG_NAV_LABEL" | translate}}</a></li>
        <li class="breadcrumb-item active breadcrumbSecondary" aria-current="page">{{"BLOG_VIDEOS_NAV_LABEL" | translate}}</li>
      </ol>
    </nav>

    <!-- LISTA VIDEO -->
    <div class="container" *ngIf="videosList.length > 0">
      <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3">
        <div class="col mt-3" *ngFor="let video of videosList">
          <!-- 21:9 aspect ratio -->
          <!--<div class="embed-responsive embed-responsive-21by9" *ngIf="video.videoPathFromStorage | async; let videoUrl">
            <iframe class="embed-responsive-item" src="{{videoUrl}}" title=""></iframe>
          </div>-->

          <div class="embed-responsive embed-responsive-21by9" *ngIf="video.videoPathFromStorage | async; let videoUrl">
            <!--<video class="embed-responsive-item" muted="true" autoplay="false" loop="false" src="{{videoUrl}}" type="video/mp4" width="950">
            </video>-->
          </div>

        </div>
      </div>
    </div>

  </div>
</div>
