<div id="wrapper">
  <div class="overlay"></div>

  <!-- Sidebar -->
  <nav class="navbar navbar-inverse fixed-top" id="sidebar-wrapper" role="navigation">
    <ul class="nav sidebar-nav">
      <div class="sidebar-header">
        <div class="sidebar-brand">
          <img src="../../../../../assets/images/brandLogo.png" class="img-fluid logoImage" alt="Brand Logo">
        </div>
      </div>

      <li><a><em class="fas fa-home menuIconEm"></em>Home</a></li>

      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" id="navbarDropdownAbout" role="button" data-bs-toggle="dropdown" aria-expanded="false">
          <em class="fa-solid fa-info menuIconEm aboutMeIcon"></em>About Me
        </a>
        <ul class="dropdown-menu" aria-labelledby="navbarDropdownAbout">
          <li>
            <a class="dropdown-item">
              <em class="fa-solid fa-address-card menuIconEm"></em>Chi Sono
            </a>
          </li>
          <li>
            <a class="dropdown-item">
              <em class="fa-solid fa-book-open-reader menuIconEm"></em>Dicono di Me
            </a>
          </li>
        </ul>
      </li>

      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" id="navbarDropdownWorks" role="button" data-bs-toggle="dropdown" aria-expanded="false">
          <em class="fa-solid fa-briefcase menuIconEm"></em> Works
        </a>
        <ul class="dropdown-menu" aria-labelledby="navbarDropdownWorks">
          <li>
            <a class="dropdown-item">
              <em class="fa-solid fa-dice-d20 menuIconEm"></em>Armocromia
            </a>
          </li>
          <li>
            <a class="dropdown-item">
              <em class="fa-brands fa-keybase menuIconEm"></em>Wedding
            </a>
          </li>
          <li>
            <a class="dropdown-item">
              <em class="fa-solid fa-elevator menuIconEm"></em>Cambio look
            </a>
          </li>
          <li>
            <a class="dropdown-item">
              <em class="fa-solid fa-masks-theater menuIconEm"></em>Forme del viso
            </a>
          </li>
          <li>
            <a class="dropdown-item">
              <em class="fa-solid fa-people-line menuIconEm"></em>Forme del corpo
            </a>
          </li>
        </ul>
      </li>

      <li>
        <a>
          <em class="fa-solid fa-palette menuIconEm"></em>Make up in palette
        </a>
      </li>

      <li>
        <a>
          <em class="fa-solid fa-file-signature menuIconEm"></em>Qualifiche
        </a>
      </li>

      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" id="navbarDropdownBlog" role="button" data-bs-toggle="dropdown" aria-expanded="false">
          <em class="fa-solid fa-blog menuIconEm"></em>Blog
        </a>
        <ul class="dropdown-menu" aria-labelledby="navbarDropdownBlog">
          <li>
            <a class="dropdown-item">
              <em class="fa-solid fa-image menuIconEm"></em>Foto
            </a>
          </li>
          <li>
            <a class="dropdown-item">
              <em class="fa-solid fa-video menuIconEm"></em>Video
            </a>
          </li>
          <li>
            <a class="dropdown-item">
              <em class="fa-solid fa-book menuIconEm"></em>Articoli
            </a>
          </li>
        </ul>
      </li>

      <li>
        <a>
          <em class="fa-solid fa-chart-bar menuIconEm"></em>Lista Servizi
        </a>
      </li>

      <li>
        <a>
          <em class="fa-solid fa-comments menuIconEm"></em>Contact
        </a>
      </li>

    </ul>
  </nav>
  <!-- /#sidebar-wrapper -->

  <div id="page-content-wrapper">
    <button type="button" class="hamburger animated fadeInLeft is-closed" data-toggle="offcanvas">
      <span class="hamb-top"></span>
      <span class="hamb-middle"></span>
      <span class="hamb-bottom"></span>
    </button>
  </div>

</div>
<!-- /#wrapper -->
