/** SIDEBAR **/
.sidebar {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;

  background: #616161;
  /* For browsers that do not support gradients */
  background: -webkit-linear-gradient(#616161, #9e9e9e);
  /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(#616161, #9e9e9e);
  /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(#616161, #9e9e9e);
  /* For Firefox 3.6 to 15 */
  background: linear-gradient(#616161, #9e9e9e);
  /* Standard syntax */

  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
}

.sidebar a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #f1f1f1;
  display: block;
  transition: 0.3s;
  font-family: 'Century Gothic', sans-serif;
}

.sidebar a:hover {
  color: black;
}

.sidebar .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

.openbtn {
  font-size: 20px;
  cursor: pointer;
  background-color: #9e9e9e;
  color: white;
  padding: 10px 15px;
  border: none;
  position: fixed;
}

.openbtn:hover {
  background-color: #9e9e9e;
}

#main {
  transition: margin-left .5s;
  padding: 16px;
}

/* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
  .sidebar {padding-top: 15px;}
  .sidebar a {font-size: 18px;}
}

/** END SIDEBAR */
