<div id="wrapper">
  <div class="overlay"></div>

  <!-- Sidebar -->
  <nav class="navbar navbar-inverse fixed-top" id="sidebar-wrapper" role="navigation">
    <ul class="nav sidebar-nav">
      <div class="sidebar-header">
        <div class="sidebar-brand">
          <a href="#">Brand</a>
        </div>
      </div>

      <li><a href="#home">Home</a></li>

      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#aboutMe" id="navbarDropdownAbout" role="button" data-bs-toggle="dropdown" aria-expanded="false">
          About Me
        </a>
        <ul class="dropdown-menu" aria-labelledby="navbarDropdownAbout">
          <li><a class="dropdown-item" href="#chiSono"><em class="fa-thin fa-book-open-cover"></em>Chi Sono</a></li>
          <li><a class="dropdown-item" href="#diconoDiMe">Dicono di Me</a></li>
        </ul>
      </li>

      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#works" id="navbarDropdownWorks" role="button" data-bs-toggle="dropdown" aria-expanded="false">
          Works
        </a>
        <ul class="dropdown-menu" aria-labelledby="navbarDropdownWorks">
          <li><a class="dropdown-item" href="#armocromia">Armocromia</a></li>
          <li><a class="dropdown-item" href="#wedding">Wedding</a></li>
          <li><a class="dropdown-item" href="#cambioLook">Cambio look</a></li>
          <li><a class="dropdown-item" href="#formeViso">Forme del viso</a></li>
          <li><a class="dropdown-item" href="#formeCorpo">Forme del corpo</a></li>
        </ul>
      </li>

      <li><a href="#makeUp">Make up in palette</a></li>

      <li><a href="#qualifications">Qualifiche</a></li>

      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#blog" id="navbarDropdownBlog" role="button" data-bs-toggle="dropdown" aria-expanded="false">
          Blog
        </a>
        <ul class="dropdown-menu" aria-labelledby="navbarDropdownBlog">
          <li><a class="dropdown-item" href="#pictures">Foto</a></li>
          <li><a class="dropdown-item" href="#videos">Video</a></li>
          <li><a class="dropdown-item" href="#books">Articoli</a></li>
        </ul>
      </li>

      <li><a href="#services">Lista Servizi</a></li>

      <li><a href="#contact">Contact</a></li>

    </ul>
  </nav>
  <!-- /#sidebar-wrapper -->

  <div id="page-content-wrapper">
    <button type="button" class="hamburger animated fadeInLeft is-closed" data-toggle="offcanvas">
      <span class="hamb-top"></span>
      <span class="hamb-middle"></span>
      <span class="hamb-bottom"></span>
    </button>
  </div>

</div>
<!-- /#wrapper -->
