<div class="container sectionContainer">
  <div class="row justify-content-center">
    <div class="text-start wow fadeIn">
      <h2 class="h1 mb-0 text-primary">{{"WHO_I_AM_SECTION" | translate}}</h2>
    </div>
    <app-divider></app-divider>
    <div class="col-md-7 col-lg-4 mb-5 mb-lg-0 wow fadeIn">
      <div class="card border-0 shadow">
        <img src="../../../../../assets/images/mainSections/test.jpg" alt="...">
      </div>
    </div>
    <div class="col-lg-8">
      <div class="ps-lg-1-6 ps-xl-5">
        <div class="mb-5 wow fadeIn">
          <p>{{"WHO_I_AMO_TEXT" | translate}}</p>
       </div>
        <div class="wow fadeIn">
          <div class="text-start mb-1-6 wow fadeIn">
            <h2 class="mb-0 text-primary">{{"WHO_I_AMO_SKILLS" | translate}}</h2>
          </div>
          <p class="mb-4">{{"WHO_I_AMO_SKILLS_TEXT" | translate}}</p>
        </div>
      </div>
    </div>
  </div>
</div>
