<div class="container sectionContainer">
  <div class="row justify-content-center">
    <div class="text-start wow fadeIn">
      <h2 class="h1 mb-0 text-primary">{{"BLOG_PHOTOS_SECTION" | translate}}</h2>
    </div>
    <app-divider></app-divider>

    <nav aria-label="breadcrumb">
      <ol class="breadcrumb">
        <li class="breadcrumb-item breadcumbBlog" (click)="goToBlog()"><a>{{"BLOG_NAV_LABEL" | translate}}</a></li>
        <li class="breadcrumb-item active breadcrumbSecondary" aria-current="page">{{"BLOG_PHOTOS_NAV_LABEL" | translate}}</li>
      </ol>
    </nav>

    <p class="">{{"BLOG_PHOTOS_SECTION_SUBTITLE" | translate}}</p>

    <!-- LISTA FOTO -->
    <div class="container" *ngIf="imagesList.length > 0">
      <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3">
        <div class="col mt-3" *ngFor="let image of imagesList">
          <h3 class="h3 mb-0 text-primary">{{image.titolo}}</h3>
          <app-divider></app-divider>
          <div *ngIf="image.imagePathFromStorage | async; let imageUrl">
            <img [src]="imageUrl" class="img-fluid" alt="image">
          </div>
          <p>{{image.descrizione}}</p>
        </div>
      </div>
    </div>

  </div>
</div>
