<div class="container sectionContainer">
  <div class="row justify-content-center">
    <div class="text-start wow fadeIn">
      <h2 class="h1 mb-0 text-primary">{{"BLOG_PHOTOS_SECTION" | translate}}</h2>
    </div>
    <app-divider></app-divider>

    <nav aria-label="breadcrumb">
      <ol class="breadcrumb">
        <li class="breadcrumb-item breadcumbBlog" (click)="goToBlog()"><a>{{"BLOG_NAV_LABEL" | translate}}</a></li>
        <li class="breadcrumb-item active breadcrumbSecondary" aria-current="page">{{"BLOG_PHOTOS_NAV_LABEL" | translate}}</li>
      </ol>
    </nav>

    <!-- LISTA FOTO -->
    <div class="container">
      <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3">
        <div class="col mt-3">
          <img src="../../../../../assets/images/blog/test1.jpg" class="img-fluid" alt="image">
        </div>
        <div class="col mt-3">
          <img src="../../../../../assets/images/blog/test2.jpeg" class="img-fluid" alt="image">
        </div>
        <div class="col mt-3">
          <img src="../../../../../assets/images/blog/test1.jpg" class="img-fluid" alt="image">
        </div>
        <div class="col mt-3">
          <img src="../../../../../assets/images/blog/test1.jpg" class="img-fluid" alt="image">
        </div>
        <div class="col mt-3">
          <img src="../../../../../assets/images/blog/test2.jpeg" class="img-fluid" alt="image">
        </div>
        <div class="col mt-3">
          <img src="../../../../../assets/images/blog/test1.jpg" class="img-fluid" alt="image">
        </div>
        <div class="col mt-3">
          <img src="../../../../../assets/images/blog/test1.jpg" class="img-fluid" alt="image">
        </div>
        <div class="col mt-3">
          <img src="../../../../../assets/images/blog/test2.jpeg" class="img-fluid" alt="image">
        </div>
        <div class="col mt-3">
          <img src="../../../../../assets/images/blog/test1.jpg" class="img-fluid" alt="image">
        </div>
      </div>
    </div>

  </div>
</div>
