.infoSection {
  background-color: #2f3441;
}

.copyrightSection {
  background-color: #212531;
}

.boxContainer {

}

.imageLogoSection {
  margin-bottom: 2%;
}

h6 {
  font-family: "Century Gothic", sans-serif;
  font-weight: bold;
}

p {
  font: 1em 'Raleway',Verdana,Tahoma,Arial,Sans-serif;
}
