/* You can add global styles to this file, and also import other style files */
html, body {
  height: 100%;
  background-image: linear-gradient(to right, rgba(255,0,0,0), rgb(247, 246, 181));
}
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.mainContainer {
  background-color: ghostwhite;
  min-height: auto;
  margin: 1rem;
}

.alignCenter {
  display: flex;
  justify-content: center;
}
