@import "~bootstrap/dist/css/bootstrap.css";
/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

/** BUTTONS */
.forwardButton {
  color: #fff;
  background-color: #81549b;
  border-color: #81549b;
  margin: 1%;
}

.text-primary, .text-primary-hover:hover {
  color: #81549b !important;
  font-family: "Century Gothic";
  font-size: xx-large;
}

.sectionContainer {
  margin-top: 10%;
  margin-bottom: 5%;
}


@media only screen and (max-width: 768px) {
  .text-primary, .text-primary-hover:hover {
    font-size: x-large;
  }
}
